// variables

$white:       #ffffff;
$grey:   #8d8d8d;
$black:       #000000;

// global styles

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;  
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 1.2em;
}

.text-heading {
  text-transform: uppercase;
}

// landing styles

.mobile-nav-wrapper, #mobile-nav {
  display: none;
}

#banner {
  background-image: url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  .banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        text-transform: uppercase;
      }

      #main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    
        a {
          padding: 0 1em;
          font-size: .7em;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 100px;
          text-transform: uppercase;
          color: $grey;
          text-decoration: none;
          
          &:hover {
            color: $black;
          }
        }
      }
    }
  
    .button-wrapper { 
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-bottom: 70px solid $white;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
 
      .button {
        color: $black;
        position: absolute;
        top: 60px;
        font-size: 1.5em;
      }
    }
  }
}

#welcome {
  .welcome-wrapper {
    display: flex;
    justify-content: center;
    margin: 5% auto;

    .welcome-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10%;

      h4 {
        margin: 0;
      }

      .welcome-title,
      .welcome-description {
        color: $grey;
      }

      .welcome-title {
        font-family: 'Great Vibes', cursive;
        font-size: 4em;
        font-weight: 200;
      }

      .welcome-subtitle {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .welcome-description {
        font-size: 1.2em;
        font-weight: 200;
        font-style: italic;
      }
    }
  }
}

#portfolio {
  .portfolio-wrapper {
    text-align: center;
    padding: 5% 0;

    h4 {
      font-size: 1.5em;
    }
  }

  .portfolio-list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    li {
      width: 33.3%;
      float: left;
      position: relative;
      // overflow: hidden;
      line-height: 0;
      padding: 1% 0.5%;
      
      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
      }

      .portfolio-item-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 25%;
        opacity: 1;
        background: $white;
        
        h2 {
          font-family: 'Great Vibes', cursive;
          font-weight: 400;
          font-style: italic;
          color: $black;
          font-size: 2.5em;
          margin-bottom: 0;
        } 

        .pf-description {
          font-size: 2em;
          font-weight: 700;
          text-transform: uppercase;
          color: $black;
        }
      }
    } 
  }
}