// variables

$white: #ffffff;
$grey:  #8d8d8d;
$darcker-grey: #3f404a;
$dark: #242629;
$black: #000000;

// global styles

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;  
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 1.2em;
}

.text-heading {
  text-transform: uppercase;
}

.title {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-style: italic;
  color: $black;
  font-size: 2.5em;
  margin-bottom: 0;
}

.sub-title {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

  
.button-wrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 70px solid $white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;

  .button {
    color: $black;
    position: absolute;
    top: 60px;
    font-size: 1.5em;
  }
}

// landing styles

.mobile-nav-wrapper, #mobile-nav {
  display: none;
}

#banner {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  .banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        text-transform: uppercase;
      }

      #main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    
        a {
          padding: 0 1em;
          font-size: .7em;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 100px;
          text-transform: uppercase;
          color: $grey;
          text-decoration: none;
          
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 25em;
      margin: 0;
    }

    span {
      font-size: 3em;
      position: absolute;
      top: 62%;
      left: 35%;
      z-index: 2;
      color: #970050;
    }
  }
}

#welcome {
  .welcome-wrapper {
    display: flex;
    justify-content: center;
    margin: 5% auto;

    .welcome-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10%;

      h4 {
        margin: 0;
      }

      .welcome-title,
      .welcome-description {
        color: $grey;
      }

      .welcome-title {
        font-family: 'Great Vibes', cursive;
        font-size: 4em;
        font-weight: 200;
      }

      .welcome-subtitle {
        display: flex;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        

        #first-word {
          font-size: 0.5em;
          align-self: flex-start;
        }
      }

      .welcome-description {
        font-size: 1.2em;
        font-weight: 200;
        font-style: italic;
      }

      .signature-owner {
        &::before,
        &::after {
          background-color: #000;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }

        &::before {
          right: 0.5em;
          margin-left: -50%;  
        }

        &::after {
          left: 0.5em;
          margin-right: -50%;
        }
      }
    }

    .images-wrapper {     
      margin: 5%;

      .welcome-image {
        position: relative;
        justify-content: center;
        align-items: center;
        

        .bottom-img {
          position: absolute;
          top: 40%;
          right: 40%;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }
}

#portfolio {
  .portfolio-list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    li {
      width: 33.3%;
      float: left;
      position: relative;
      line-height: 0;
      padding: 1% 0.5%;
      
      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
      }

      .portfolio-item-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 25%;
        opacity: 1;
        background: $white;

        h2 {
          line-height: 1em;
          border-bottom: 1px solid $black;
        }
      }
    } 
  }
}

#services-section {
  .services-wrapper {
    margin: 100px auto;
    text-align: center;
    color: $black;

    .services-item-info { 
      h2 {
        border-bottom: 1px solid $black;
        margin: 0 auto !important;
        width: 10%;
      }

      h2, h4 {
        margin: 0;
        padding-top: 2%;
      }
    }

    .services-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
        padding: 0 1%;

        img {
          width: 35%;
          height: auto;
          margin-bottom: 10%;
        }
        
        h4, p {
          color: $grey;
        }

        h4 {
          text-transform: uppercase;
          font-size: 1.75em;
          font-weight: 400;
          margin: auto 0;
        }
  
        p {
          font-style: italic;
          font-size: .9em;
          line-height: 1.5em;
        }
      }
    }
  }
}

#reservation {
  background-image: url(../images/reservation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;    
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .reservation-wrapper {
    background: $white;
    width: 20em;


    .reservation-desc {
      text-align: center;
      color: $black;
      padding: 10%;

      h2 {
        border-bottom: 1px solid $black;
        width: 50%;
        margin: 0 auto;
      }

      h4 {
        padding-top: 5%;
        margin: 0;
      }
    }
  }
}

#menu {
  .menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0;

    .menu-image {
      width: 500px;
      height: 500px;
      background-image: url(../images/4pieces.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;    
      display: flex;
      justify-content: center;
      align-items: center;

      .decription-wrapper {
        background: rgba(0, 0, 0, 0.8);
        width: 50%;
        padding: 15%;
        margin: 0 auto;
        text-align: center;

        h2 {
          border-bottom: 1px solid $white;
          width: 70%;
          margin: 0 auto;
        }
  
        h4 {
          margin: 5% 0;
        }

        .title,
        .sub-title {
          color: $white;
        }
      }
    }

    .menu-desc {
      .menu-container {
        margin: 10%;
        text-align: center;

        h2 {
          border-bottom: 1px solid $black;
          width: 30%;
          margin: 0 auto;
        }
  
        h4 {
          margin: 5% 0;
        }

        .menu-description {
          color: $grey;
          font-style: italic;
          line-height: 2em;
          width: 60%;
          margin: 0 auto;
        }

        a {
          padding: 1em 2em;
          font-size: .7em;
          font-weight: 700;
          letter-spacing: 2px;
          line-height: 100px;
          text-transform: uppercase;
          color: $black;
          text-decoration: none;
          border: 1px solid $black;
  
          &:hover {
            color: $white;
            background: $black;
          }
        }
      }
    }
  }
}

#map {
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;    
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .map-wrapper {
    background: $white;
    width: 20em;
    margin: 0 auto;

    .map-desc {
      text-align: center;
      color: $black;
      padding: 5%;
    }

    .map-item {
      margin: 10%;

      h4 {
        font-size: 1.5em;
        padding-bottom: 5%;
        border-bottom: 1px solid $black;
      }
  
      .sub1{ 
        width: 90%;
        margin: 0 auto;
      }
  
      .sub2 {
        width: 70%;
        margin: 0 auto;
      }  
      
      p {
        letter-spacing: 1px;
      }

      .hours-list, p {
        font-size: 0.9em;
        color: $grey;
        list-style: none;
        padding: 0;
  
        li, p {
          padding-top: 2%;
        }
      }
    }
  }
}

#main-footer {
  background: $darcker-grey;
  
  .main-footer-wrapper {
    footer {
      padding: 5% 0;
      text-align: center;
      width: 75%;
      margin: 0 auto;

      h4 {
        margin: 0;
        padding-bottom: 2%;
        color: $white;
      }

      .footer-desc {
        color: $grey;
        font-style: italic;
        line-height: 1.5em;
        width: 75%;
        margin: 0 auto;
      }

      h5 {
        text-transform: uppercase;
        color: $white;
        font-size: 1.5em;
        margin-bottom: 2%;
      }

      .input-icon-wrap {
        display: flex;
        flex-direction: row;
        width: 35%;
        margin: 0 auto;

        .input-icon {
          background: rgb(147, 10, 226);
          color: $white;
        }
        
        .input-with-icon {
          width: 35%;

          border: none;
          flex: 1;
        }
        
        .input-icon, .input-with-icon {
          padding: 10px;
        }
      }

      .social-container {
        padding-top: 5%;

        .social-list {
          margin: 0;
          padding-left: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          list-style: none;

          li {
            padding-right: 5px;

            .fa-facebook-f, .fa-twitter {
              background: $white;
              color: $black;
            }
    
            .fa-facebook-f {
              padding: 0.05em 0.3em;
            }
    
            .fa-twitter{
              padding: 0.05em 0.07em;
            }
    
            .fa-pinterest, .fa-google-plus{
              font-size: 1.5em;
              color: $white;
              padding: 0.05em 0.07em;
            }
          }
        }
      }
    }
  }

  #btn-up {
    border-bottom: 70px solid $dark;
    
    #to-up {
      color: $white;
    }
  }
}

#copyright {
  background: $dark;

  .copyright-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $white;
    padding: 0.5% 0;  
  }
}

@media only screen and (max-width: 1000px) {

  #banner {
   
    .banner-text {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      h1 {
        font-size: 25em;
        margin: 0;
      }
  
      span {
        top: 62%;
        left: 20%;
      }
    }
  }

  #services-section {
    .services-wrapper {
  
      .services-item-info { 
        h2 {
          border-bottom: 1px solid $black;
          margin: 0 auto !important;
          width: 10%;
        }
  
        h2, h4 {
          margin: 0;
          padding-top: 2%;
        }
      }
  
      .services-list {
        display: flex;
        flex-wrap: wrap;
  
        li {
          width: 50%;
          padding-bottom: 5%;
  
          img {
            width: 25%;
          }
          
          h4 {
            padding-bottom: 5%;
          }

          p {
            font-style: italic;
            font-size: .9em;
            line-height: 1.5em;
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  #menu {
    .menu-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}

@media only screen and (max-width: 900px) {

  .mobile-nav-wrapper{ 
    display: flex;
    justify-content: center;
    align-self: center;

    .bars-wrapper {
      align-self: center;
      position: absolute;
      left: 7%;
    }

    .fa-bars {
      color: $black;
    }
  }

  #mobile-nav {  
    a {
      display: none;
      text-decoration: none;
      text-align: center;
      color: $grey;

      &:hover {
        color: $grey;
      }
    } 
  }

  #mobile-nav.active {
    display: block;
    width: 100%;

    a {
      display: block;
      padding: 1em;
      border-bottom: 1px solid #E9E9E9;
      
      &:last-child {
        border-bottom: none;
      }
    }
  }

  #banner {

  .logo, nav > a {
    display: none;
  }
    
    .banner-text {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      h1 {
        font-size: 15em;
        margin: 0;
      }
  
      span {
        font-size: 2em;
        top: 62%;
        left: 20%;
      }
    }
  }

  #menu {
    .menu-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }


  #welcome {
    padding: 15%;

    .welcome-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin: 5% auto;

      .images-wrapper {     
        // margin: 5%;
        
        .welcome-text {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          padding: 0;
        }
        
        .welcome-image {
          position: relative;
          justify-content: center;
          align-items: center;      
  
          .bottom-img {
            position: absolute;
            top: 40%;
            right: 40%;
            width: 100%;
            z-index: -1;
          }
        }
      }
    }
  }

  #portfolio {
    .portfolio-list {
      display: flex;
      flex-direction: column;
      
      li {
        width: 100%;
      } 
    }
  }

  #reservation {
  
    .reservation-wrapper {
      background: $white;
      width: 50%;
  
  
      .reservation-desc {
        text-align: center;
        color: $black;
        padding: 10%;
  
        h2 {
          border-bottom: 1px solid $black;
          width: 50%;
          margin: 0 auto;
        }
  
        h4 {
          padding-top: 5%;
          margin: 0;
        }
      }
    }
  }
  
  #map {
    .map-wrapper {
      width: 50%;
      margin: 0 auto;
    }
  }

  #main-footer {
    
    .main-footer-wrapper {
      footer {
  
        .input-icon-wrap {
          display: flex;
          flex-direction: row;
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {

  #services-section {
    .services-wrapper {
      margin: 50px auto;
  
      .services-item-info { 
        h2 {
          width: 25%;
        }
      }
  
      .services-list {
        display: flex;
  
        li {
          padding: 2% 1%;
          width: 100%;
  
          img {
            width: 15%;
            margin-bottom: 2%;
          }

          h4 {
            padding-bottom: 2%;
          }

          p {
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }
  }

}

