// variables

$white:       #ffffff;
$grey-text:   #8d8d8d;
$black:       #000000;

// global styles

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;  
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 1.2em;
}

.text-heading {
  text-transform: uppercase;
}
